header {
    background-color: $lightBg;
    box-shadow: 0px 0px 25px 0px #c7c7c7;
    height: 10vh;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .cartbutton {
            font-size: 2rem;
            color: $primaryColor;
            text-decoration: none;
            &:hover {
                color: $secondaryColor;
                cursor: pointer;
                transition: color 0.1s ease-in-out;
            }
            #itemcount {
                position: relative;
                display: flex;
                color: white;
                font-size: 1rem;
                top: -3rem;
                left: -0.5rem;
                background-color: $tertiaryColor;
                padding: 3px;
                border-radius: 50px;
                width: 1.5rem;
                height: 1.5rem;
                justify-content: center;
                align-items: center;
                opacity: 0;
            }
        }
        .sitetitle{
            text-decoration: none;
            color: $primaryColor;
            .orihighlight{
                padding-left: 0.5rem;
                color: $lightBg;
                background-color: $primaryColor;
            }
        }
    }
}