.imgBloc{
    img{
        object-fit: cover;
        width: 100%;
    }
}

.orderBloc{
    text-align: end;
    margin-top: 20px;
    .itemprice{
        font-size: 1.6rem;
        color: $primaryColor;
        font-style: italic;
        padding-right: 25px;
    }
    button{
        @include buttons;
    }
}

select{
    margin: 0px 10px 0px 10px;
}