.imgBloc{
    img{
        object-fit: cover;
        width: 100%;
    }
}

.orderBloc{
    text-align: end;
    .itemprice{
        font-size: 1.6rem;
        color: $primaryColor;
        font-style: italic;
    }
    button{
        padding: 0.5rem;
        border-style: none;;
        border-radius: 0.4rem;
        margin: 25px 10px 0px 10px;
        background-color: $secondaryColor;
        color: $darkBg;
        &:hover {
            color: $primaryColor;
        }
    }
}

select{
    margin: 0px 10px 0px 10px;
}